@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Add your word and sentence:</h1>

    <form action="/wordcounter" method="post">
      <label for="word">Word</label>
      <input id="word" name="word" type="text"><br>
      <label for="sentence">Sentence</label>
      <input id="sentence" name="sentence" type="text"><br>
      <button type="submit">Submit Form</button>
    </form>

    <h2>(Please do not use any numbers or punctuation. Cases are unimportant.)</h2>

  </body>
</html>